$gray-color: #91a098;
.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;

    .container{
        width: 500px;
        height: 700px;
        border: 1px solid $gray-color;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        padding: 10px;
        box-sizing: border-box;

        .task{
            width: 100%;
            height: 100px;
            display: flex;
            justify-content: space-between;
            box-sizing: border-box;
            align-items: center;
            padding: 0 100px 0 10px;
            border: 1px solid $gray-color;
            border-radius: 20px;
            margin-bottom: 5px;
            position: relative;

            &:last-child {
                margin-bottom: 0;
            }

            &-info {
                width: 45%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .checkbox{
                }

                .task-deadline {
                    color: gray;
                }
            }

            &-name {
                font-weight: bold;
            }

            &-delete {
                position: absolute;
                right: 8px;
                top: 6px;
                cursor: pointer;
                width: 15px;
                height: 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: blue;
                font-size: 15px;
            }
        }

        
    }
}

.modal-wrapper{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    align-items: center;
    justify-content: center;

    .confirm-modal{
        position: relative;
        background-color: white;
        box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.7);
        padding: 20px 25px;
        font-weight: bold;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .add-modal{
        position: relative;
        background-color: white;
        box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.7);
        padding: 30px 25px;
        font-weight: bold;
        font-size: 20px;
        display: flex;
        align-items: center;

        #dates{
            margin-right: 15px;
            height: 40px;
            width: 120px;
            text-align: center;
        }

        #title{
            height: 40px;
            width: 200px;
            margin-right: 15px;
            padding-left: 10px;
            font-size: 18px;
        }

        #submit{
            height: 46px;
        }
    }

    .close-modal{
        position: absolute;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
        cursor: pointer;
        top: -15px;
        right: -15px;
        background-color: white;
    }

    .modal-buttons{
        width: 300px;
        display: flex;
        justify-content: space-around;
        font-weight: normal;
        margin-top: 50px;
    }
}

.add-task{
    display: block;
    width: 150px;
    height: 50px;
    margin: 0 auto;
}
